
/* MessagesBlock */
.MsgWrapper {
    height: 870px;
    /* background: url('https://st4.depositphotos.com/3268541/23698/v/950/depositphotos_236989172-stock-illustration-mobile-app-development-vector-outline.jpg'); */
     /* url('http://plushki.by/for_sale/images/social.jpg') */
     background: url('https://previews.123rf.com/images/bigio/bigio1604/bigio160400008/55951766-palm-tree-leaves-background-template-tropical-greeting-card-.jpg');
     background-size: cover;
     
}




