.ContactsBlock {
    padding-left: 5px;
}

.contact {
   
    padding-top: 15px;
}

.contact b {
    font-size: 15px;
    color: forestgreen;
    position: relative;
    top: -14px;
}


.avatar {
    border: 2px solid forestgreen;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

.avatar img {
    width: 50px;
    height: 50px;
}