.wrapper {
    padding-bottom: 40px;
}

.background {
    width: 1020px;
    height: 200px;
    background: url('https://www.nastol.com.ua/pic/201303/1920x1200/nastol.com.ua-42958.jpg');
    /* -webkit-background-size: cover; */
}

.aboutPerson {
    display: flex;
    align-items: flex-end;
    background: #e0dede;
    padding-bottom: 15px;
    box-sizing: border-box;
    height: 94px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 150px;
    margin-top: -75px;
    overflow: hidden;
}

.avatar img {
    width: 150px;
    height: 150px;
}

.username {
    font-size: 23px;
    position: relative;
    top: 10px;
}

.info {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding-left: 15px;
}

/*  .job {
    position: relative;
    top: -10px;
}  */

  .job img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px; 
}  

.status img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
}

.status {
    position: relative;
    top: -5px;
    cursor: pointer;
}