.ContentWrapper {
    padding-bottom: 40px;
}

.background {
    width: 1020px;
    height: 200px;
    background: url('C:/WinFile/File/React-Social-Network/src/assets/Pictures/ProfilePageBG.jpg');
    background-size: cover;
}

.aboutPerson {
    display: flex;
    align-items: flex-end;
    background: #e0dede;
    padding-bottom: 15px;
    box-sizing: border-box;
    height: 94px;
}

.username {
    font-size: 23px;
    position: relative;
    top: 10px;
}

.info {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding-left: 15px;
}

.job img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
}

