.header {
    grid-area: h;
    background-color: #2b2a2b;
}

.title {
    font-size: 35px;
    text-align: center;
    color: forestgreen;
}

.auth {
    float: right;
    position: relative;
    top: -30px;
    margin-right: 25px;
    font-size: 20px;
    color: forestgreen;
}

.auth a {
    text-decoration: none;
    font-size: 20px;
    color: forestgreen;
}

.login {
    display: inline-block;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}

.avatar img {
    width: 35px;
    height: 35px;
}

.headerAuthInfoBlock {
    position: relative;
    top: -15px;
}

/* .loginBtn {
    position: relative;
    top: 10px;
} */