.currentPageInput {
    width: 50px;
    border: none;
    outline: none;
    font-size: 22px;
    color: steelblue;
    text-align: center;
    cursor: pointer;
}
.pageTubmler {
    border: none;
    outline: none;
    color:  rgb(91, 91, 216);
    font-size: 22px;
}