.currentPageInput {
    width: 50px;
    border: none;
    outline: none;
    font-size: 22px;
    color: forestgreen;
    text-align: center;
    cursor: pointer;
    background-color: #cbc9cb;
}
.pageTubmler {
    border: none;
    outline: none;
    color:  forestgreen;
    font-size: 22px;
    background-color: #cbc9cb;
}