.LoginPage {
    grid-area: c;
    background-color: white;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .3);
    height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://wallpapersmug.com/download/2932x2932/995dc5/winter-evening-beautiful-sky.jpg') no-repeat;
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

.main {
    background-color: #e0dede;
    width: 400px;
    min-height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 1);
    text-align: center;
    background: url('https://wallpapersmug.com/download/2932x2932/995dc5/winter-evening-beautiful-sky.jpg') no-repeat;
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    outline: none;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 1);
    color: #E040FB;
    padding-top: 15px;
}

p a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 1);
    color: #E040FB;
    text-decoration: none
}

.error {
    border: 2px solid red;
}

.errorMsg {
    color: red;
    font-size: 20px;
}

.inp {
    color: orangered;
}