.mainBlock {
    width: 1020px;
    height: 870px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .3);
}