.UsersPageWrapper {
    grid-area: c;
    background-color: white;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .3);
    max-height: 870px;
    overflow-y: scroll;
    height: 870px;
}

.UsersPageWrapper::-webkit-scrollbar {
    width: 0;
    background-color: rgba(255, 255, 255, 0);
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: steelblue;
    margin-bottom: 20px;
}

.selectedPage {
    font-weight: bold;
    color: steelblue;
}

.pages {
    text-align: center;
    cursor: pointer;
}