.nav {
    background-color: steelblue;
    grid-area: n;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .3);
    min-height: 850px;
}

.navItem {
    font-size: 27px ;
    color: white;
    box-shadow: none;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
}

.navItem:hover {
    background-color: rgba(0, 0, 0, .3);
}

.navItem a {
    text-decoration: none;
    color: white;
}

.navItem a:focus {
    color: gold;
}


.hiddenNav {
    display: none;
}