.PostsBlock {
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 350px;
    justify-content: center;
}

.PostsBlock::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.0);
}

.PostsBlock::-webkit-scrollbar-thumb {
    background: forestgreen;
    border-radius: 10px;
}

.likes {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px;
}

.likes b {
    color: forestgreen;
    padding-left: 5px;
}

.likes img {
    width: 20px;
    height: 20px;
}

.post {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 950px;
}

.post hr {
    width: 900px;
}

.postTextContainer {
    display: inline-block;
    padding-bottom: 20px;
    color: forestgreen;
    font-weight: 700;
    font-size: 18px;
    margin-left: 35px;
    display: inline-block;
}

.postInput {
    border: none;
    color: forestgreen;
    font-weight: 700;
    font-size: 18px;
    width: 650px;
    position: relative;
    top: 25px;
}

.formBtn {
    border: 1px solid gray;
    height: 30px;
    margin-right: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-top: 20px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

.avatar img {
    width: 50px;
    height: 50px;
}

.title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
}

.optionsBtn {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

.optionsBtn img {
    width: 20px;
    height: 20px;
}

.postedOn {
    float: right;
    margin-right: 25px;
    color: gray;
}